<!DOCTYPE html>
<html>
	<head>
		<title>KiwiMT Homepage</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="Kiwi MT">
    	<meta name="author" content="Captain Jack Sparrow">
	</head>
	<body>
		<div class  = "container-fluid" id = "headerImage">
			<!-- <img src = "img/boston.png"> -->
			<div class = "row">
				<div class = "col-sm-6">
					<div class = "hero-unit">
						<h1>Kiwi MT</h1>
						<p>Project Collaboration-Made Easy</p>
					</div>
					<div class = "btns">
						<div class = "btn btn-large btn-primary" href = "#">Register</div>
						<div class = "btn btn-default" href = "#">Log In </div>
					</div>
				</div>
			</div>
		</div>
		<div class = "jumbotron">
			<div class = "container">
				<div class = "row" id = "middleDesc">
					<h2>Kiwi MT and You</h2>
				</div>
				<div class = "row" id = "threeFields">
					<div class = "col-md-4">
						<div class = "threeIcons">
							<img src = "img/clock.png">
							<h3>Save Time</h3>
							<p>Time matters, so we help you spend it wisely.</p>
						</div>
					</div>
					<div class = "col-md-4">
						<div class = "threeIcons">
							<img src = "img/check.png">
							<h3>Easy Management</h3>
							<p>Keep track of your progess easily.</p>
						</div>
					</div>
					<div class = "col-md-4">
						<div class = "threeIcons">
							<img src = "img/rocket.png">
							<h3>Fast and Efficient</h3>
							<p>Work at the speed of light.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class = "threeDividers">
			<div class = "container" id = "sf">
				<h1> Beauty and Elegance</h1>
			</div>
			<div class = "container" id = "battlehack">
				<h1>Built by Winners</h1>
			</div>
			<div class = "container" id = "ggb">
				<h1>Made in San Francisco</h1>
			</div>
		</div>
		<div id = "founders" class = "jumbotron">
			<div class = "container">
				<div class = "row" id = "foundersTitle">
					<h2>The founders</h2>
				</div>
				<div class = "row" id = "threeFounder">
					<div class = "col-md-4">
						<div class = "threeHeroes">
							<img src = "img/owen.png">
							<h3>Owen Zheng</h3>
							<p>Front-End Ninja.</p>
						</div>
					</div>
					<div class = "col-md-4">
						<div class = "threeHeroes">
							<img src = "img/winston.png">
							<h3>Winston Chen</h3>
							<p>God.</p>
						</div>
					</div>
					<div class = "col-md-4">
						<div class = "threeHeroes">
							<img src = "img/huy.png">
							<h3>Huy Quoc Le</h3>
							<p>No one knows why he is on here.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div id = "footer" class = "container">
			<div class = "col-md-6">
				<h3> Over a Billion Registered Users. </h3>
				<h4> Why haven't you joined us?</h4>
			</div>
			<div class = "col-md-6">
				<div class = "col-md-4">
					<ul>
						<h4>Categories</h4>
					</ul>
					<ul>
						<a href = "#">About Us</a>
					</ul>
					<ul>
						<a href = "#">Blog</a>
					</ul>
					<ul>
						<a href = "#">Team</a>
					</ul>
					<ul>
						<a href = "#">Career</a>
					</ul>
					<ul>
						<a href = "#">Contact</a>
					</ul>
				</div>
				<div class = "col-md-4">
					<ul>
						<h4>Follow Us</h4>
					</ul>
					<ul>
						<a href = "#">Facebook</a>
					</ul>
					<ul>
						<a href = "#">Twitter</a>
					</ul>
					<ul>
						<a href = "#">LinkedIn</a>
					</ul>
					<ul>
						<a href = "#">MySpace</a>
					</ul>
					<ul>
						<a href = "#">Google Plus</a>
					</ul>
				</div>
				<div class = "col-md-4">
					<div class = "btns">
						<ul>
							<div class = "btn btn-large btn-primary" href = "#">Register</div>
						</ul>
						<ul>
							<div class = "btn btn-default" href = "#">Log In </div>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</body>
	<link rel=stylesheet type=text/css href="styles/bootstrap.min.css">
	<link rel=stylesheet type=text/css href="styles/index.css">
</html>
